body {
    background-color: rgba(22, 97, 78, 0.651);
}
main {
    padding: 20px;
}
img {
    max-width: 500px;
    max-height: 300px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

button {
    margin-top: 10px;
    margin-left: 50px;
}

input{
    margin: 3px;
}

span {
    font-size: 30px;
    color: purple;
}
