body {
    background-color: rgba(22, 97, 78, 0.651);
}
main {
    padding: 20px;
}

.App{
    background-color: rgb(100, 141, 127);
    padding: 10px;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;   
}

img {
    max-width: 500px;
    max-height: 300px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

button {
    margin-top: 10px;
    margin-left: 150px;
}

label {
    font-style: oblique;
    font-size: 20px;
}

input{
    margin: 3px;
}

span {
    font-size: 30px;
    color: purple;
}
